<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/chef"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".orders_archive"></activity>
        <activity android:name=".QrScanner" />
        <activity
            android:name=".Products_management"
            android:parentActivityName=".manager_panel" />
        <activity
            android:name=".Employees_management"
            android:parentActivityName=".manager_panel" />
        <activity android:name=".manager_panel" />
        <activity android:name=".orders_panel" />
        <activity android:name=".menu" />
        <activity android:name=".register" />
        <activity android:name=".checkout" />
        <activity android:name=".finalPage" />
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>